<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600, initial-scale=1.0">
    <meta name="description" content="Woodsearch - Tu buscador de productos de madera">
    <title>Woodsearch</title>
    <style>
        a {
            color: #232323;
            text-decoration: none;
        }
        a:hover {
            color: #232323;
            text-decoration: none;
        }
    </style>
</head>
<body style="margin:0; padding:0; background:#F5F5F5;">
    <table cellpadding="0" cellspacing="0" style="width: 100%; height: 148px; max-width: 600px; background: #fff; border-spacing: 0; border-collapse: collapse; margin: 0 auto; font-family: Arial, Verdana, Geneva, Tahoma, sans-serif; line-height: 1; border-top: 2px solid #DB5A46;">
        <tr style="height: 148px;">
            <!-- Columna izquierda: imagen o fondo -->
            <td style="height: 148px; width: 62px; vertical-align: top; padding: 0; line-height: 0;">
                <img style="height: 148px; width: 62px; display: block; object-fit: contain;" src="imagenIzquierda.png" alt="">
            </td>
            <!-- Columna central: datos -->
            <td style="margin-left: 16px; height: 148px; vertical-align: center; line-height: 1.2; padding-left: 20px;">
                <span style="display:block; font-size:19px; font-weight:bold; color:#232323; margin-bottom:8px; text-transform:uppercase;">
                    GUILLERMO DEL PINO
                </span>
                <span style="display:block; font-size:8px; font-weight:700; color:#DB5A46; margin-bottom:18px; text-transform:uppercase;">
                    CO-FOUNDER / HEAD OF SEO
                </span>
                <span style="display:block; font-size:10px; color:#232323; margin-bottom:2px;">
                    guillermo.delpino&#8203;@woodsearch.&#8203;es
                </span>
                <span style="display:block; font-size:10px; color:#232323; margin-bottom:2px;">
                    +627 796 000
                </span>
                <span style="display:block; font-size:10px; color:#232323; margin-top:10px;">
                    <a href="https://woodsearch.es/" style="color: #232323; text-decoration: none; border-bottom: 0.5px solid #DB5A46; padding-bottom: 0; line-height: 0.5;">woodsearch.es</a>
                </span>
            </td>
            <!-- Columna derecha: logo -->
            <td style="height: 148px; width: 288.2px; vertical-align: middle; text-align: right; padding: 0; line-height: 0;">
                <div style="font-size: 20px; color: #232323; font-weight: bold; display: inline-block; vertical-align: middle;">
                    <img src="LogoDerechaUno.png" alt="WoodSearch Logo" style="height: 148px; width: 288.2px; display: block;">
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
